{% extends 'groups.html' %}
{% block changing_groups %}
    <td>
        <a href="/changing_data/{{ object_for_changing }}/edition/{{ group.id_group }}/">Edit</a>
        <a href="/changing_data/{{ object_for_changing }}/delete/{{ group.id_group }}/">Delete</a>
    </td>
    <div>{{ ololo }}</div>
{% endblock %}
{% block create %}
   <form name='create_newgroup' action="/changing_data/{{ object_for_changing }}//creation//" method='post'>
   <input type="text" name="name_group" placeholder="newgroup_name">
   <input type="submit" class="button" value="CREATE">
   </form>
{#    <a href="/changing_data/{{ object_for_changing }}/creation/">Create</a>#}
{% endblock %}