{% extends 'groups.html' %}
    {% load tag_rend_ref %}
    {% block changing_groups1 %}
        <th></th>
    {% endblock %}
    {% block changing_groups2 %}
        <td>
            {% rend_reference group %}
            <a href="/changing_data/{{ object_for_changing }}/edition/{{ group.id_group }}/" class="btn btn-warning">Edit</a>
            <a href="/changing_data/{{ object_for_changing }}/delete/{{ group.id_group }}/" class="btn btn-danger">Delete</a>
        </td>
    {% endblock %}
    {% block create %}
       <form class="form-horizontal" name='create_newgroup' action="/changing_data/{{ object_for_changing }}/creation//" method='post'>
           <div class="form-group has-success">
               <div class="input-group">
                   <span class="input-group-addon ">+</span>
                   <input type="text" name="name_group" placeholder="newgroup_name" class="form-control" id="inputSuccess">
                   <span class="input-group-btn">
                   <input type="submit" value="Create" class="btn btn-success">
                   </span>
               </div>
           </div>
       </form>
    {% endblock %}