{% extends 'base.html' %}
{% load static from staticfiles %}
{% load tag_rend_ref %}
{% load thumbnail %}
{% block form_edit_groups %}
    <div>FORM FOR EDITION GROUP</div>
        <form name='edit_group' action="/submition/{{ object_for_changing }}/{{ id_group }}/" method='post'>
            <label for="name_group">NAME GROUP</label>
            <input id="name_group" type="text" name="name_group" value="{{ name_group }}">
            <label for="praepostor_id">PRAEPOSTOR</label>
            <select id="praepostor_id" name="praepostor_id" value="{{ praepostor_id }}">
                {% for student in list_students %}
                    <option value="{{ student.id_student }}"
                            {% if student.id_student == praepostor_id %} selected="selected" {% endif %}>
                        {{ student.student_name }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" class="button" value="SUBMIT">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name of Student</th>
                        <th>Ticket number</th>
                        <th>Data_of_birthday</th>
                        <th>Foto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for student in list_students %}
                    <tr>
                        <td><span>{{ student.student_name }}</span></td>
                        <td><span>{{ student.student_ticket_number }}</span></td>
                        <td><span>{{ student.dob }}</span></td>
                        <td>
                            {% thumbnail student.foto "1000" as big %}
                                {% thumbnail student.foto "100x100" crop="center" as small %}
                                    <a href="{% static  big.url  %}" title="look">
                                        <img src="{% static  small.url  %}">
                                    </a>
                                {% endthumbnail %}
                            {% endthumbnail %}
                        </td>

                        <td>
                            {% rend_reference student %}
                            <a href="/changing_data/student/edition/{{ student.id_student }}/">Edit</a>
                            <a href="/changing_data/student/delete/{{ student.id_student }}/">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
        <div>CREATE NEW STUDENT</div>
        <form name='new_student' action="/changing_data/{{ student }}/creation/{{ id_group }}/" method='post' enctype="multipart/form-data">

            <label for="student_name">NAME STUDENT</label>
            <input type="text" name="student_name">

            <label for="student_ticket_number">STUDENT'S TICKET NUMBER</label>
            <input type="text" name="student_ticket_number">

            <label for="dob">DOB</label>
            <input type="text" name="dob">

            <label for="foto">FOTO</label>
            <input type="file" name="foto">

            <input type="submit" class="button" value="CREATE STUDENT">

        </form>
{% endblock %}