{% extends 'base.html' %}
    {% block groups %}
        <div class="bs-docs-section " >
            <table class=" table table-hover">
                <caption class="page-header">
                    <h4>Groups</h4>
                </caption>
                <thead>
                    <tr>
                        <th class="text-center">Name of the Group</th>
                        <th class="text-center">Number of Students</th>
                        <th class="text-center">Name of the Monitor</th>
                        {% block changing_groups1 %}{% endblock %}
                    </tr>
                </thead>
                <tbody>
                    {% for group in list_groups %}
                    <tr>
                        <td class="text-center"><a href="/group/{{ group.id_group }}">{{ group.name_group }}</a></td>
                        <td class="text-center">{{ group.count }}</td>
                        <td class="text-center">{{ group.monitor}}</td>
                        {% block changing_groups2 %}{% endblock %}
                    </tr>
                    {% block form_newgroup_creation %}{% endblock %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% block create %}{% endblock %}
    {% endblock %}

