   {% extends 'base.html' %}
    {% block groups %}
    <table class="table">
        <thead>
             <tr>
               <th>Name of group</th><th>Number of students</th><th>Name of Praepostor</th>
            </tr>
        </thead>
        <tbody>
        {% for group in list_groups %}
            <tr>
                <td><a href="/group/{{ group.id_group }}">{{ group.name_group }}</a></td><td>{{ group.count }}</td><td>{{ group.praepostor}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}