{% extends 'base.html' %}
   {% block groups %}
    <table class="table">
        <thead>
             <tr>
               <th>Name of group</th><th>Number of students</th><th>Name of Praepostor</th>
            </tr>
        </thead>
        <tbody>
        {% for group in list_groups %}
            <tr>
                <td><a href="/group/{{ group.id_group }}">{{ group.name_group }}</a></td>
                <td>{{ group.count }}</td>
                <td>{{ group.praepostor}}</td>
                {% block changing_groups %}{% endblock %}
            </tr>
            {% block form_newgroup_creation %}{% endblock %}
        {% endfor %}
        </tbody>
    </table>
    {% block create %}{% endblock %}

    <a href="/changing/{{ object_for_changing }}/">Change the rows of the table Groups</a>
    {% endblock %}
